node_modules/
.env
*.log

# Terraform — credenciales locales
infraestructura/**/terraform.tfvars
infraestructura/**/.terraform/
infraestructura/**/terraform.tfstate
infraestructura/**/terraform.tfstate.backup
